<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c03.ppl.hidupsehat" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.Login"
            android:label="Login">
        </activity>
        <activity android:name=".Auth.SignUp"
            android:label="SignUp">
        </activity>
        <activity android:name=".Auth.EditProfile"
            android:label="SignUp">
        </activity>
        <activity android:name=".Menu.ResepMakananMenu"
            android:label="MenuResepMakanan">
        </activity>
        <activity android:name=".Makanan.Resep.Index"
            android:label="DaftarResep"></activity>
        <activity android:name=".Makanan.Resep.DisplayResep"
            android:label="DisplayResep">   </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
